
body{
    margin: 0px;
}
#navbar{
   
    display: flex;
    justify-content: space-between;
   background-color: black;
   overflow: hidden;
   position: fixed;
   top: 0;
  left:0;
  right: 0;

}
#navbar>div{
    width: 28%;
   color: white;
}
#logo>img{
    width: 30%;
    height: 4rem;
}
#pages,#elements{
    display: flex;
    align-items: center;
    justify-content: center;

}
#pages>a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
#elements>i{
    margin: 10px;
}
#search{
   width: 60%;
    height: 2rem;
    border-radius: 20px;
    padding: 0px 5px;
    font-size: 1rem;
}

